# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data
data/

# Python cache
__pycache__/
*.pyc

# Model artifacts
*.json
*.pkl
*.h5
*.zip
*.pt

# Data files
*.parquet
*.csv
*.npy
params.txt

# Model files
src/model_files/

# Logs
*.log
logs/
dataIngest\logs

# Notebooks data outputs
notebooks/
notebooks/*.parquet
notebooks/*.csv
notebooks/options_model.json.zip